<div ng-controller="productListController">
    <div class="panel panel-primary">
        <div class="panel-heading">Products</div>
        <div class="panel-body">
            <div class="row">
                <div class="col-md-12">
                    <button ng-click="add()" class="btn btn-primary">Add</button>
                </div>
            </div>
        </div>
        <table class="table">
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Brand</th>
                    <th>Options</th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="product in products">
                    <td>{{ product.name }}</td>
                    <td>{{ product.brand }}</td>
                    <td width="100px">
                        <button ng-click="edit(product.id)" class="btn btn-xs btn-primary">Edit</button>
                        <button ng-click="delete(product.id)" class="btn btn-xs btn-danger">Delete</button>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>